* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#battlefield {
  position: relative;
}
.info-container {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 100px;
  height: 100px;
  border: solid;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.controller button {
  height: 30px;
  width: 50px;
}

.choose button {
  height: 30px;
  width: 70px;
  text-align: center;
}

/* img {
  height: 90px;
  width: 90px;
  object-fit: contain;
  position: absolute;
  top: 90px;
  left: 0;
} */

#mewtwo {
  height: 90px;
  width: 90px;
  object-fit: contain;
  position: absolute;
  top: 5px;
  left: 5px;
  /* transform: scaleX(-1); */
  z-index: 1000;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card {
  width: 200px;
  height: 70px;
  border: solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  text-align: justify;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
